<p-toast position="top-right"></p-toast>     
<p-card>   
    <p-table [value]="discounts" dataKey="discount.id" >
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between" style="text-align: center">
             Available   Discount Codes
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>  <th>S.No</th>
                <!-- <th>Flight</th> -->
                <th>Code</th>
                <th>Discount</th>
                <th>Action</th>  >
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-discount>
            <tr >
                <td >{{discount.id}} </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="discount.code">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{discount.code }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="discount.discount" suffix="%" [min]="1" [max]="100" [showButtons]="true"></p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{discount.discount}}%
                        </ng-template>
                    </p-cellEditor>
                    </td>
                    <td> <p-button label="Save" (onClick)="saveDiscount(discount)"></p-button></td>         
                
                
            </tr>
        </ng-template>
      </p-table>               
      <p-button label="Add Discount" (onClick)="addDiscount()"></p-button>
    </p-card> 
