<p-panel>
    <p-toast position="top-right"></p-toast>
    <div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Airline name :</span>
                <input type="text" pInputText [(ngModel)]="airline.name" required placeholder="Airline Name">         
            </div>
        </div>
        <div>
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Logo Url :</span>
                    <input type="text" pInputText [(ngModel)]="airline.logo" required placeholder="Logo Url">         
                </div>
            </div>
        </div>
        <!-- <div>
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Model :</span>
                    <input type="text" pInputText [(ngModel)]="airline.model" required placeholder="Model">         
                </div>
            </div>
            </div>-->
        <div> 
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Contact Number :</span>
                    <p-inputNumber placeholder="Contact Number" [(ngModel)]="airline.contactNumber" [useGrouping]="false" [min]="1" [max]="9999999999">

                    </p-inputNumber>
                </div>
            </div>
        </div>
        <div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">contact Address :</span>
                <input type="text" pInputText [(ngModel)]="airline.contactAddress" required placeholder="Address">         
            </div>
        </div>
        </div>
    </div>

    <p-button  (onClick)="addAirline()" label="Add Airline"></p-button>
    </p-panel>
