<p-panel>
    <div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Airline name :</span>
                <input type="text" pInputText [(ngModel)]="flight.name" required placeholder="UserName">         
            </div>
        </div>
        <div>
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Logo Url :</span>
                    <p-password  [(ngModel)]="flight.logo" required [feedback]="false" [toggleMask]="true" placeholder="password" ></p-password>        
                </div>
            </div>
        </div>
        <div>
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Model :</span>
                    <input type="text" pInputText [(ngModel)]="flight.model" required placeholder="UserName">         
                </div>
            </div>
            </div>
        <div>
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Contact Number :</span>
                    <p-inputNumber [(ngModel)]="flight.contactNumber" [useGrouping]="false" [min]="1" [max]="9999999999">

                    </p-inputNumber>
                </div>
            </div>
        </div>
        <div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">contact Address :</span>
                <input type="text" pInputText [(ngModel)]="flight.contactAddress" required placeholder="UserName">         
            </div>
        </div>
        </div>
    </div>

    <p-button  (onClick)="addAirline()" label="Add Airline"></p-button>
    </p-panel>
