<p-toast position="top-right"></p-toast>
<div class="card">
    <!-- <hr>
    <ol>
    <li *ngFor="let booking of bookings">
        <div>
    <h4>{{booking.date}}-{{booking.flight}}-{{booking.id}}</h4>
        </div>
       
    
    </li>
    </ol> -->
    <p-table #dt [columns]="cols" [value]="bookings" [scrollable]="true" 
    [globalFilterFields]="['pnr']"
     scrollHeight="300px">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between" style="text-align: center">
                Available Bookings
            </div>
            </ng-template>
            <!-- <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                    <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search By PNR" />
                    </span>
                </div>
            </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <!-- <th>Flight</th>
                <th>Date</th>
                <th>Return Flight</th>
                <th>Return Date</th> -->
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        PNR 
                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>Type</th>
                <th>Price</th>
                <th>Booking Date</th>
                <th>View</th>
                <th>Export</th>
                <th>Cancel</th>          
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-book>
            <tr>
                 <td >{{book.pnr}}</td>
                <td>{{book.type}}</td>
                <td>{{book.price}}</td> 
                <td>{{book.date|date:'short'}}</td>
                <td><p-button  (onClick)="ticketDetail(book)" label="View"></p-button></td>  
                <td><button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf(book)" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button></td>
                <td><p-button *ngIf="cancellable(book.onwardDate)" (onClick)="cancelTicket(book)" label="Cancel"></p-button></td>         
            </tr>
        </ng-template>
      </p-table>
      <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

      <!-- <button (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button> -->
      </div>
    