<p-card>                   
    <p-table [value]="flights" [scrollable]="true"  scrollHeight="200px"  dataKey="flight.id">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between" style="text-align: center">
                Available Flights
            </div>
            <!-- <div class="p-d-flex">
                <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div> -->
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Logo</th>
               <th>Contact</th>
                <th>Model</th> 
                <th>Price</th>
                <th>From</th>
                <th>to</th>
                <th>Depature</th>
                <th>Action</th>          
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-flight >
            <tr>
                <td><img [src]="flight.logo" [alt]="flight.name" width="50" height="35" class="p-shadow-4" /></td>
                <!-- <td>{{flight.name}}</td> -->
                <td>{{flight.contactNumber}}</td>  
                <td>{{flight.model}}</td>  
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-inputNumber [(ngModel)]="flight.price"  currency="INR" locale="en-IN" mode="currency"  [min]="1" [max]="10000"></p-inputNumber>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{flight.price}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="flight.from">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{flight.from}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="flight.to">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{flight.to}}
                        </ng-template>
                    </p-cellEditor>
                </td> 
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="flight.schedule">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{flight.schedule}}
                        </ng-template>
                    </p-cellEditor>
                </td> 
                <td> <p-button label="Save" (onClick)="saveFlight(flight)"></p-button></td>         
            </tr>
        </ng-template>
      </p-table>

    </p-card> 
